@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #00fff3;
}
#text
{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 10em;
    outline: none;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0 #01ded3;
}