@tailwind base;
@tailwind components;
@tailwind utilities;
#editor {
	position: relative;
	/*top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/;
	width: 100%;
	resize: both;
	overflow: hidden;
	border-radius: 20;
}

/*#editorContainer {
	position: relative;
	background-color: red;
	padding-bottom: 200px;
	border-radius: 20;
	resize: both;
	overflow: hidden;
}
*/
a {
	transition: color 1s;
}

a:hover {
	color: purple;
}
